In [79]:
import numpy as np

In [80]:
import pandas as pd

In [82]:
import matplotlib.pyplot as plt

In [81]:
func = pd.read_csv('./NYPD_Complaint_Data_Historic.csv', low_memory=False)
data = pd.DataFrame(func)
data=data.drop(['ADDR_PCT_CD','HADEVELOPT','PARKS_NM','CMPLNT_TO_DT','CMPLNT_TO_TM','PREM_TYP_DESC'], axis=1)
data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,JURIS_DESC,BORO_NM,LOC_OF_OCCUR_DESC,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,N.Y. POLICE DEPT,BRONX,INSIDE,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,FELONY,N.Y. POLICE DEPT,QUEENS,OUTSIDE,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",COMPLETED,FELONY,N.Y. POLICE DEPT,MANHATTAN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,QUEENS,INSIDE,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,N.Y. POLICE DEPT,MANHATTAN,FRONT OF,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [46]:
data['KY_CD']

0          113
1          101
2          117
3          344
4          344
          ...
1048570    341
1048571    344
1048572    121
1048573    235
1048574    236
Name: KY_CD, Length: 1048575, dtype: int64

In [47]:
num = data["KY_CD"].count()

In [48]:
print(num)

1048575

In [62]:
num1= data.loc[data["KY_CD"] == 117].count()

In [63]:
newNum=num1["KY_CD"]

In [64]:
print(newNum/num)

0.009202965929952555

In [56]:
# calculate total amount of unique codes
codes = data["KY_CD"].unique()
len(codes)

72